@charset "utf-8";
html{overflow-y:auto;}

*{padding:0;margin:0;}

body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,form,button,input{
	padding:0px;margin:0px;
	border:none;list-style:none;
	font-weight:normal;
	font-family:'Verdana', 'SimHei', sans-serif;
}
	
body {
	background-color:#f2f2f2;
}

a{ text-decoration:none;}
ul li{ list-style:none;}
i,em{ font-style:normal;}
.clear:after,.row:after{
	content:".";
	display:block;
	height:0; 
	visibility:hidden;
	clear:both;
 } 
.clear,.row{zoom:1;}

.col10{width:10%; float:left }
.col90{width:90%; float:left}
.col20{width:20%;float:left}
.col80{width:80%;float:left}
.col33-3{width:33.33333%; float:left}
.col40{width:40%; float:left}
.col50{width:50%; float:left}
.col60{width:60%; float:left;}

.txr{text-align:right;}
.txl{text-align:left;}
.txc{text-align:center;}

.fl{float:left;}
.fr{float:right;}

.width100{width:100%;}
.height100{height:100%;}

.mgt10{margin-top:10px;}
.mgb10{margin-bottom:10px;}
.mgl10{margin-left:10px;}
.mgr10{margin-right:10px;}
.mgtrbl10{margin:10px;}

.inpupt-placeholder{ color: #bbb; }

.btn-orange {
	color: #FFFFFF;
    background-color: #fd6b00;
    padding: 6px 30px;
}

/*关闭按钮*/
.icon-close1{background-image: url('../images/order/close.png');background-position: 0px 0px;width:18px;height:18px;}
.icon-close2{background-image: url('../images/order/close.png');background-position: 0px -23px;width:18px;height:18px;}

/*面板*/
.panelA {
	margin:0 140px;
	background-color:#fff;
	min-height:500px;
	overflow: hidden;
}

/** 标题 start ****/
.title {
	height:30px;
	line-height:30px;
	background: url('../images/order/s1.png') no-repeat 0 50%;
	margin: 20px 0;
	padding-left:30px;
	color: #dc3f02;
	font-size: 18px;
}


/** 标题 end ****/

/** 查询-条件组合  start ****/
.circleImg {
	height: 40px;
    width: 54px;
	background: url('../images/order/circle.png') no-repeat center;
}

.a-input-group {
	height: 40px;
}
.a-input {
	height: 40px;
	font-size: 16px;
	/* color: #666; input设置了inpupt-placeholder样式颜色 */
}
.a-input-group button {
	width: 40px;
	height: 40px;
	border: 1px solid #ccc;
}

.a-input-group .btn-phone {
	background: url('../images/order/input-icon1.png') no-repeat center;
	background-color: #eee;
}

.a-input-group .btn-sssearch {
	background: url('../images/order/input-icon3.png') no-repeat center;
	background-color: #eee;
}

.a-input-group .span-person {
	background: url('../images/order/input-icon2.png') no-repeat center;
	width: 40px;
	background-color: #eee;
	border: 1px solid #ccc;
	border-left: 0px;
}


/** 查询-条件组合 end ****/

/** 查询-表格- a对外使用 b对内使用  start ****/
.form-body {
	margin:10px 0;
}

.a-tableDivEmpty {
	background:url('../images/order/t1.png') no-repeat center;
	min-height:300px;
}
.a-tableDiv {
	/* display:none; */
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    overflow: hidden;
}

.a-tableDiv table>thead>tr>th {
	background-color:#eee;
	color: #444;
	font-size: 18px;
	font-weight: normal;
    border: none;
}

.a-tableDiv table>thead>tr>th>.th-inner {
	line-height: 30px;
}

.a-tableDiv table>tbody>tr {
	color: #666;
	font-size: 16px;
}
.a-tableDiv table>tbody>tr>td {
	line-height: 30px;
	
	border-bottom:1px solid #ddd;
  	border-left:0px; 
  	border-right:0px;
}


/* .a-tableDiv table>tbody>tr:nth-of-type(odd){
	background-color:#fff;
} */

.a-p {
	float: left;
    padding-right: 10px;	
}
.finish {
	color:#f3780c;
}
.showFlow {
	color: #fd051c;
}
.showAssess {
	color: #2c5dfe;
}


.b-tableDiv table>thead>tr>th {
	background-color:#eee;
	color: #444;
	font-size: 16px;
	font-weight: normal;
}

/*table横向滚动条*/
.fixed-table-body table.minWidth {
	min-width:1500px;
}

/** 查询-表格- a对外使用 b对内使用d ****/




/** 弹出层   layer start**/

body .a-layer {
	background: transparent;
	/* opacity: 0; */
}
body .a-layer .layui-layer-title{
	color:#fff; 
	font-size:18px;
	border: none;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='ture',GradientType='1',StartColorStr=#40000000,EndColorstr=#40000000); 
	background-color:rgba(0,0,0,0.4);
}


/** 弹出层   layer end**/



/** 模态框 start**/

.bg-model-wrap {
	display:none;
}
/* 遮盖层 初始样式不能有display:none;否则透明化不管用*/
.bg-model-cover {
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	position:fixed;
	z-index:999;
	/*filter:Alpha(Opacity=30);
	background:#000; 这种用法，内容会被透明化*/
	
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='ture',GradientType='1',StartColorStr=#30000000,EndColorstr=#30000000); 
	background-color:rgba(0,0,0,0.3);
}

.bg-model-wrap .content {
	position: absolute;
	left: 50%;
	top: 50%;
	border:1px solid #c9c9c9;
	background-color:#fafafa;
	width: 530px;
	height: 300px;
	margin-left: -265px;
	margin-top: -150px;
	background-color: #fff;
	z-index:9999;
}

.bg-model-close {
	position: absolute;
	right:10px;
	top:10px;
	text-decoration: none;
    background-image: url('../images/order/close.png');background-position: 0px 0px;width:18px;height:18px;
    display: block;
}
.bg-model-close:hover {
	background-image: url('../images/order/close.png');background-position: 0px -23px;width:18px;height:18px;
}


/** 模态框 end**/

/* tab切换 start */
.nav-tabs>li>a,
.nav-tabs>li>a:hover {
	font-size: 16px;
	color: #dc3f02;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    color: #fd4a05;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
/* tab切换 end */


