@charset "utf-8";

/* .inflowheader{
	margin:3rem 1.3rem 0rem;
	
} */

/* .show {
	overflow: hidden;
	margin-top: 0.9rem;
} */



.listArea {
	margin-top: 0.9rem;/*18px;*/
}

.listArea .line {
	border-bottom: 0.1rem solid #f6f6f6; /*2px*/
    width: 100%;
}

.listArea ul {
	overflow: hidden;
	margin: 0 1.1rem 0.9rem 1.1rem; /*0 22px 18px 22px;*/
	background-color: #fff;
	border-radius: 1.1rem;/*22px;*/
	list-style: none;
	border: 0.25rem solid #fff;/*5px solid #fff;*/
	border-image-source:url(../../images/order/phone-line.png);
	border-image-width: 0 0 1.05rem 100%;/*0 0 21px 100%  top right bottom left*/
}

/* .content{
	  float:left;
      list-style:none;
	  border-radius: 1.1rem; 
	  background-color: #fff;
	  border-image-source: url("../../images/order/phone-line.png");
	  border-image-width: 0 0 1.05rem 100%;
	  padding:0.7rem 0rem 1.7rem;
	  margin: 0 1.1rem 0.9rem 1.1rem;
} */

.listArea ul li{
	float:left; 
	width:100%;
	display: table;
	position: relative;
	margin:0;
	
	font-size: 1.3rem; /* 26px; */
	color: #444;
	padding: 0 2.5rem;
}

.div1{
	width: 30%;
	float: left;
	/* display: table-cell; */
	height: 3rem;
	line-height: 3rem;
	text-align:justify;
}
.div1:after{
	   content: '';
       padding-left: 100%;
       display: inline-block;
}
.div2{
	width: 70%;
	line-height: 3rem;
	display: table;
	table-layout: fixed;
	word-wrap: break-word;
	
} 

