@charset "utf-8";

/**********这里写手机端 需要的公用css**********/


html {
	-webkit-text-size-adjust: 100%;
	font-size: 20px; /*设置换算单位为20px,不用随便修改影响web-util.js*/
	overflow-y:auto;
}

*{padding:0;margin:0;}

body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,form,button,input{
	padding:0px;margin:0px;
	border:none;list-style:none;
	font-weight:normal;
	font-family:'Verdana', 'SimHei', sans-serif;
}
body{
	background-color: #f6f6f6;
}
a{ text-decoration:none;}
a:hover {text-decoration: none;}
ul li{ list-style:none;}
i,em{ font-style:normal;}
.clear:after,.row:after{
	content:".";
	display:block;
	height:0; 
	visibility:hidden;
	clear:both;
 } 
.clear,.row{zoom:1;}

.col10{width:10%; float:left }
.col90{width:90%; float:left}
.col20{width:20%;float:left}
.col80{width:80%;float:left}
.col33-3{width:33.33333%; float:left}
.col40{width:40%; float:left}
.col50{width:50%; float:left}
.col60{width:60%; float:left;}

.txr{text-align:right;}
.txl{text-align:left;}
.txc{text-align:center;}

.fl{float:left;}
.fr{float:right;}

.width100{width:100%;}
.height100{height:100%;}

.mgt10{margin-top:0.5rem;}
.mgb10{margin-bottom:0.5rem;}
.mgl10{margin-left:0.5rem;}
.mgr10{margin-right:0.5rem;}
.mgtrbl10{margin:0.5rem;}

.btn-orange {
	color: #FFFFFF;
	background-color: #fd6b00;
	padding: 0.25rem 0.5rem; /* 5px 10px; */
}


/*返回按钮*/
.icon-re1{background-image: url('../images/order/return.png');background-position: 0px 0px;width:25px;height:42px;}
.icon-re2{background-image: url('../images/order/return.png');background-position: 0px -47px;width:25px;height:42px;}


/**  header start****/
header {
	/* background-color:gainsboro; */
	height:5rem;
	line-height: 5rem;
	border-bottom:1px solid #aeaeae; /* 线宽不需要变 */
}

header .cl {
	width:5rem;
	font-size: 2rem;
	color:#a0a0a0;
	cursor: pointer;
}
header .cr {
	width:5rem;
	font-size: 2rem;
}

/* 右边按钮*/
header .crr {
	width: 5.8rem;
    font-size: 1.8rem;
    padding-right: 1.8rem;
}
 
header .crr a {
	color:#fd6b00;
	text-decoration: none;
}   

header .cc {
	font-size: 2rem;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    color:#000;
}

header .cl:hover {
	color:#000;
}
/**  header end****/

/* 查询输入组合 a类  start */
.a-input-group {
    margin: 3rem 1.15rem 1.5rem 1.15rem; /* 60px 23px 30px 23px; */
    background: 000000;
    height: 5rem; /* 100px; */
    line-height: 5rem; /* 100px; */
}

.a-input-group .group-text {
	height: 5rem; /* 100px; */
	width: 100%;
	/* font-size: 1.5rem;
	color: #9d9d9d; */
	border: 0px solid #fff;
}

.a-input-group .group-text input[type='text'] {
	height:100%;
	width: 100%;
	padding-left: 5.6rem; /* 112px; */
	padding-right: 0.5rem; /* 10px; */
	background-color: #fff;
	border-radius: 0.7rem; /* 14px; */
	border: none;
	font-size: 1.5rem;
    color: #9d9d9d;
    
}

.a-input-group .bg1 {
	background: url(../images/order/search1.png) no-repeat 9% 50%;
	background-size: 2.15rem; /* 43px; */
}

.a-input-group .bg2 {
	background: url(../images/order/search2.png) no-repeat 9% 50%;
	background-size: 2.15rem; /* 43px; */
}

/* 查询输入组合 a类  end */


/* 按钮区 a类  start*/

.a-btn-group {
	margin: 1rem 1.15rem 1.5rem 1.15rem; /* 20px 23px 30px 23px; */
	height: 4.9rem; /* 98px; */
	
}

.btn_search {
	width: 100%;
    height: 100%;
    font-size: 1.5rem; /* 30px; */
    color: #fff;
    background-color: #fd6b00;
    border-radius: 0.7rem; /* 14px; */
}

.btn_submit {
	width: 48%;
    height: 100%;
    font-size: 1.5rem; /* 30px; */
    color: #fff;
    background-color: #fd6b00;
    border-radius: 0.7rem; /* 14px; */
	/*! display: block; */
	float: left;
}

.btn_reset {
	width: 48%;
    height: 100%;
    font-size: 1.5rem; /* 30px; */
    color: #fff;
    background-color: #fd6b00;
    border-radius: 0.7rem; /* 14px; */
	/*! display: block; */
	float: right;
}

/* 按钮区 a类 end */


/* 下拉框 start */
.a-select {
	height: 100%;
	width: 100%;
	padding-left: 5.6rem;
	background-color: #ffffff!important;
	/* inline-size: 29rem; */
	border-radius: 0.7rem;
	padding-left: 5.6rem;
	border: none;
	font-size: 1.5rem;
    color: #9d9d9d;
}

/* 下拉框  end */


