@charset "utf-8";


/* 五星评价 start */
.demo{
	overflow: hidden;
	font-size: 1rem;/* 20px; */
	width: 100%; /* 250px;  */
	margin: 5rem; /* 100px auto; */
}
	
.demo img{ 
	height: 1.2rem; /* 24px; */
	width:1.2rem; /* 24px; */
	margin:0 4px;
}
/* 五星评价 end */


/*列表区域 start*/

.color-bule {
	color: #64cbed;
}

.color-green {
	color: #019c29;
}

.color-orange {
	color: #fd6b00;
}

/* 列表行分割线*/
.listArea .line {
	border-bottom: 0.1rem solid #f6f6f6; /*2px*/
    width: 100%;
}

/* 列表*/
.listArea {
	overflow: hidden;
	margin-top: 0.9rem;/*18px;*/
}
.listArea ul {
	margin: 0 1.1rem 0.9rem 1.1rem; /*0 22px 18px 22px;*/
	background-color: #fff;
	border-radius: 1.1rem;/*22px;*/
	list-style: none;
	border: 0.25rem solid #fff;/*5px solid #fff;*/
	border-image-source:url(../../images/order/phone-line.png);
	border-image-width: 0 0 1.05rem 100%;/*0 0 21px 100%  top right bottom left*/
}

.listArea ul li {
	position: relative;
	display: table;
	table-layout: fixed;
	word-wrap: break-word;
} 

.listArea .hh1 {
	font-size: 1.5rem; /* 30px; */
	color: #555;
	line-height: 6rem; /* 120px; */
	padding: 0 3.3rem; /* 24px; */
}

.listArea .hh2,.hh3 {
	font-size: 1.3rem; /* 26px; */
	color: #444;
	line-height: 3.5rem; /* 70px; */
	padding: 0 3.3rem; /* 24px; */
}

.listArea .hh4 {
	font-size: 1.5rem; /* 30px; */
	color: #444;
	line-height: 3rem; /* 60px; */
	padding-left: 3.3rem; /* 24px; */
	margin: 1rem 0;/* 20px 0; */
	width: 100%;
}

.listArea .hh4 .ra {
	color: #9d9d9d;
	margin-right: 4.3rem; /* 60px; */
}
.listArea .hh4 .rb {
	border: 0.1rem solid #fd6b00;
	border-radius: 1.5rem; /* 30px; */
	height: 3rem; /* 60px; */
	width: 10rem; /* 200px; */
	text-align: center;
	margin-right: 2.5rem; /* 24px; */
	/* vertical-align:  middle; */
	display: table;
}
.listArea .hh4 .rb a {
	color:#fd6b00;
}
.listArea .hh4 .rb a:hover {
	color:#fa4103;
}
.listArea .hh5 {
	position: relative;
	font-size: 1.5rem; /* 30px; */
	color: #9d9d9d;
	line-height: 120%;
	padding-left: 3.3rem; /* 24px; */
	padding-right: 2.5rem; /* 24px; */
	width: 100%;
}

.listArea .hh6 {
	font-size: 1.3rem; /* 26px; */
	color: #9d9d9d;
	line-height: 4.5rem; /* 90px; */
	padding: 0 2.5rem;
	width: 100%;
}

.listArea .hh5:before {
	/* content:url(../../images/order/info1.png);
	vertical-align:middle;
	display:inline-block; */
	
	content: " ";
	background-image: url(../../images/order/info1.png);
	background-size: 100% auto;
	left: 1.5rem; /* 30px; */
	top: 0.2rem; 
	height: 1.45rem; /* 29px; */
	width: 1.2rem; /* 24px; */
	position: absolute;
}

.listArea .hh6 .fr {
	position: relative;
}
.listArea .hh6 .fr:before {
	/* content:url(../../images/order/info2.png);
	vertical-align:middle;
	display:inline-block;
	padding-right: 0.5rem;
	line-height: 4.5rem; */
	
    content: " ";
    background-image: url(../../images/order/info2.png);
    background-size: 100% auto;
    position: absolute;
    left: -2rem; /* -40px; */
    top: 1.45rem; /* 29px; */
    height: 1.45rem; /* 29px; */
    width: 1.45rem; /* 29px; */
	
}

/*列表区域 end*/

/*列表区域2 start*/
.listArea .hh0 {
	font-size: 1.3rem; /* 26px; */
	color: #444;
	padding: 0 2.5rem;
	width: 100%;
}

.listArea .divLeft {
	width: 30%;
	float: left;
	/* display: table-cell; */
	height: 3rem;
	line-height: 3rem;
	text-align:justify;
}

.listArea .divLeft:after{
    content: '';
    padding-left: 100%;
    display: inline-block;
}

.listArea .divRight {
	width: 70%;
	line-height: 3rem;
	/* display: table-cell; */
	/* float: left; */
	display: table;
	table-layout: fixed;
	word-wrap: break-word;
}
/*列表区域2 end*/



